.error-container {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-title {
    font-size: calc(1rem + 3vw);
    text-transform: capitalize;
    color: #0aa971;
    margin-bottom: 2rem;
    text-align: center;
}
.error-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-size: calc(0.85rem + 0.5vw);
    font-weight: 500;
    color: #fff;
    background-color: #0aa971;
    padding: 0.5rem 2rem;
    border-radius: 40px;
    cursor: pointer;
    border: 2px solid #0aa971;
    transition: all 0.3s linear;
    text-align: center;
}
.error-btn:hover {
    color: #0aa971;
    background-color: transparent;
}

@media (max-width: 768px) {
    .error-container {
        padding: 4rem 2rem;
    }
    .error-btn {
        padding: calc(0.5rem 0.75rem);
    }
}
