.navbar-container {
    position: sticky;
    top: 0;
    padding: 1.5rem 4rem;
    background-color: rgba(46, 46, 46, 0.948);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);
    z-index: 10;
}
.brand a {
    color: #1a90bf;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.75rem;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
    letter-spacing: 1px;
    font-size: calc(1rem + 0.1vw);
    font-weight: 600;
    transition: all 0.3s linear;
}
.main-menu a:hover,
a.active {
    color: #3ef8b7;
}

.menu-toggler {
    width: 2rem;
    height: 2rem;
    color: #3ef8b7;
    display: none;
}

@media (max-width: 768px) {
    .navbar-container {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.5rem;
    }
    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brand a {
        font-size: 1.5rem;
    }
    .menu-toggler {
        display: block;
    }
    .main-menu {
        padding: 0 1.5rem 1.5rem;
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in;
    }
    .main-menu.show {
        top: 80px;
        left: 0;
    }
    .main-menu a {
        margin-right: 0;
        margin-bottom: 0.75rem;
    }
    .main-menu a:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .brand a {
        font-size: 1.3rem;
    }
}
